<div class="jumbotron text-center">
    <h1 class="display-4">INFECTED!</h1>
    <p class="lead">A COVID game app where a user will be prompted to select a city from a drop down.</p>
    <hr class="my-4">
    <p>They will be flashed info on cases for their selected city, then will be asked a series of questions about the
        data. The user will need to recall the numbers correctly and if they can not, then they get infected.</p>
</div>