<div class="jumbotron text-center">
    <h1 class="display-4">quarantineChef</h1>
    <p class="lead">A handy tool that will train you to become a world class home-chef in the time of quarantine</p>
    <hr class="my-4">
    <p>Enter what you have inside your fridge, we will tell you what you can make and how you can make them :D </p>
</div>