html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.btn {
    background-color: #FFBD59;
    border-color: #ff5757;
    border-width: 0.5px;
}

.btn:hover {
background-color: #ff5757;
}

.navbar-quarantineChef {
background-color: #FFBD59;
max-height: 5%;
}


.logo {
    max-width: 100px;
    max-height: fit-content;
}

body {
    background-image: url("../img/HomePage.jpeg");
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.buttonDiv{
    margin-top:3%;
    margin-bottom: 3%;
    display:flex;
    justify-content: space-between;
}
.backgroundHome {
    background-color: white;
    opacity: 75%;
    vertical-align: middle;
    text-align: center;
    font-weight: 200;
    
}

.ingreLists{
    display:flex;
    justify-content: center;
    margin-top : 3%;
}

.card-body {
    background-color: #FFBD59;
}